@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;800&display=swap');

:root {
	--black: #000000;
	--white: #ffffff;
}

* {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Fira Sans', 'Arial', 'Helvetica', sans-serif;
}
