@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Roboto:wght@400;900&display=swap');

:root {
	--black: #000000;
	--white: #ffffff;
	--background-color: #303030;
	--text-color: #ffffff;
}

* {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 50px var(--background-color) inset; /* Change the color to your own background color */
	-webkit-text-fill-color: var(--text-color);
}
